@import '../../variables.scss';

.Pagination {
  width: 30%;
  margin: auto;

  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

.List {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media screen and (max-width: $lg) {
    justify-content: flex-start;
  }
}

.Item {
  padding: .5rem 1rem;
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  border-radius: .5rem;
  cursor: pointer;

  @media screen and (max-width: $lg) {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

[class*="Pagination_Item"][class$="light"] {
  color: $dark_grey;
  background-color: $light;
  border: 1px solid $anthracite;
  box-shadow: 0 1px 0 1px $dark_shadow;
  background-image: linear-gradient(to bottom, $light 0%, $beige 100%);

  &:focus,
  &:hover,
  &:active {
    color: $anthracite;
    border-color: $light_grey;
    box-shadow: 0 0 1px 3px $blue;
  }
}

[class*="Pagination_Item"][class$="dark"] {
  color: $light;
  background-color: $dark;
  border: 1px solid $light;
  box-shadow: 0 1px 0 1px $dark_shadow;
  background-image: none;

  &:focus,
  &:hover,
  &:active {
    color: $light;
    border-color: $light;
    box-shadow: 0 0 1px 3px $light;
  }
}

.Item_active[class$="light"] {
  color: $anthracite;
  border-color: $light_grey;
  box-shadow: 0 0 1px 3px $blue;
}

.Item_active[class$="dark"] {
  color: $light;
  border-color: $light;
  box-shadow: 0 0 1px 3px $light;
}