$sm: 480px;
$md: 769px;
$lg: 1024px;
$xl: 1200px;

$light: #ffffff;
$beige: #e5e5e5;
$dark: #000000;
$grey: #888888;
$light_grey: #aaaaaa;
$dark_grey: #444444;
$anthracite: #222222;
$blue: #3b99fcb3;
$light_blue: #007CB2;
$dark_shadow: rgba(0, 0, 0, .04)